body {
  font-family: "Vazirmatn", sans-serif;
}

a {
  text-decoration: none;
}

img {
  border: 3px solid #0dcaf0;
}

.btn-info {
  background-color: #0dcaf0;
  border: none;
}

.btn-info:hover {
  background-color: #31d2f2;
}
