{% extends 'base.html' %}
{% block title %}ورود مدیر{% endblock %}

{% block content %}
<div class="container text-center mt-5" style="max-width:400px;">
  <h2 class="mb-4">ورود مدیر</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, msg in messages %}
        <div class="alert alert-{{ category }}">{{ msg }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST" class="text-start">
    <div class="mb-3">
      <label for="password" class="form-label">رمز عبور:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="رمز را وارد کنید..." required>
    </div>
    <button type="submit" class="btn btn-info w-100">ورود</button>
  </form>
</div>
{% endblock %}
